@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.header{
    position: fixed;
    top: 0;
    width: 94vw;
    display: flex;
    height: 4vh;
    padding: 40px 40px 40px 40px;
    justify-content: space-between;
    background: black;
}
.logo{
    position: absolute;
    color: white;
    font-family: 'Prosto One', cursive;
    font-size: 24px;
    text-decoration: none;
    transition: all .1s ease-in;
}
.burger_menu{
    display: block;
    position: absolute;
    width: 80px;
    height: 20px;
    margin-right: 40px;
    right: 0;
}
.burger_menu span{
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: white;
}
h1{
    position: absolute;
    top: 28vh;
    width: 100%;
    color: white;
    font-family: 'Prosto One';
    font-size: 80px;
    line-height: 90.69%;
    text-align: center;
    margin-bottom: 9vh;
}
.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44.5vh;
}
.time_section_1, .time_section_2, .time_section_3, .time_section_4{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: flex-end;
    width: 240px;
    height: 280px;
    color: white;
    font-family: 'Play';
}
.count{
    font-size: 72px;
}
.units{
    font-size: 24px;
    margin-top: 100px;
}
.ellipse_1{
    position: absolute;
    width: 200px;
    height: 200px;
    border: none;
    top: 0;
}
.ellipse_1:after{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8%;
    left: -2%;
    width: 180px;
    height: 180px;   
    border-left: 14px solid rgba(255, 255, 255, 0);
    border-right: 14px solid #ffffff;
    border-top: 14px solid white;
    border-bottom: 14px solid white;
    transform: rotate(135deg);
}
.ellipse_2{
    position: absolute;
    border-radius: 50%;
    width: 165px;
    height: 165px;
    border: none;
    top: 13.5%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(67, 8, 47, 0) 70.83%, #43082F 100%);
}
.time_section_2 .ellipse_1:after{
    border-left: 14px solid rgb(255, 255, 255);
    border-right: 14px solid #ffffff;
    border-top: 14px solid rgba(255, 255, 255, 0);
    border-bottom: 14px solid white;
}
.time_section_3 .ellipse_1:after{
    border-left: 14px solid rgb(255, 255, 255);
    border-right: 14px solid #ffffff;
    border-top: 14px solid rgb(255, 255, 255);
    border-bottom: 14px solid rgba(255, 255, 255, 0);
}
.time_section_4 .ellipse_1:after{
    border-left: 14px solid rgb(255, 255, 255);
    border-right: 14px solid #ffffff00;
    border-top: 14px solid rgb(255, 255, 255);
    border-bottom: 14px solid white;
}
.line{
    position: absolute;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 0px;
    height: 22.5%;
    border: 1px solid #FFFFFF;
    top: calc(50vh + 30vh);
}
.background{
    position: relative;
    width: 100vw;
    top: 70vh;
}
.cosmic{
    position: absolute;
    width: 100vw;
    top: -15vh;
}
.fog{
    position: absolute;
    width: 100vw;
    top: 4vh;
}
.triangle{
    position: absolute;
    left: 0px;
    top: 86vh;
    width: 0px;
    height: 0px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 60vh solid black;
}
table {
    position: absolute;
    width: 87.5%;
    border-collapse: collapse;
    top: 120vh;
  }
  th, td {
    border: 1px solid rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: 'Play';
    padding: 25px 10px;
  }
  th:nth-of-type(1){
      width: 14%;
  }
  th:nth-of-type(2){
    width: 32%;
}
th:nth-of-type(3), th:nth-of-type(4), th:nth-of-type(5){
    width: 18%;
}
.buttons{
    position: absolute;
    display: flex;
    top: calc(150vh + 22vh);
    margin-top: 80px;
    height: 80px;
    width: 800px;
    justify-content: space-between;
}
.button_1,.button_2{
    position: absolute;
    height: 80px;
    width: 360px;
    top: 0;
    font-family: 'Play';
    font-weight: bold;
    font-size: 24px;
    line-height: 97.69%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}
.button_1{
    background: #2A6F89;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 44px;
    left: 0;
}
.button_2{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 44px;
    right: 0;
}
.button_2:hover{
    background: linear-gradient(180deg, #FFFFFF 0%, #f0f0f0 7.29%, #bdbdbd 94.27%, #9facb1 100%);
}
.button_2:active{
    background: linear-gradient(180deg,  #4e4e4e 0%,  #505050 100%);
    box-shadow:
     0 0 1px rgba(0, 0, 0, 0.637) inset,
     0 2px 3px rgba(0, 0, 0, 0.76) inset,
     0 1px 1px rgba(255, 255, 255, 0.5);
  }
h4{
    position: absolute;
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    line-height: 97.69%;
    text-decoration: none;
}
.footer{
    position: absolute;
    width: 94vw;
    bottom: 0;
    top: 190vh;
    display: flex;
    height: 4vh;
    margin: 160px 40px 40px 40px;
    justify-content: space-between;
    align-items: flex-end;
}
.icon{
    margin-right: 20px;
}
.footer h4{
    right: 0;
}